---
layout: default
---

<div class="container last-post">
  <h1 class="page-title">All Articles</h1>
  <h6>
    Here you will find all my recent blog posts. Feel free and contact me if you like (or dislike) the content or if
    you
    have any further questions.
  </h6>
  <br /><br />

  <div class="row">
    <div class="col s12 m8 l9">
      <h5><i class="mdi mdi-clock-fast"></i> Latest Posts</h5>
      <!-- <ul class="collection"> -->
      {% for post in site.posts limit:5 %}
      {% assign date_format = site.minima.date_format | default: "%m/%d" %}

      <div class="card medium">
        <div class="card-image">
          <a class="waves-effect waves-light" href="{{ post.url | relative_url }}">
            <img src="{{ post.image | relative_url }}" />
          </a>
        </div>
        <div class="card-content">
          <span class="card-title" style="font-weight: 500">{{ post.title | escape }}</span>
          {{ post.description }}
        </div>
        <div class="card-action">
          <span datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
            {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
            {{ post.date | date: date_format }}
          </span>
          {% if post.author %}
          • <span itemprop="author" itemscope itemtype="http://schema.org/Person">
            <span itemprop="name">{{ post.author }}</span></span>
          {% endif %}
          <a class="right" href="{{ post.url | relative_url }}">Read</a>
        </div>
      </div>

      <!-- <li class="collection-item avatar">
          <div class="date-post circle z-depth-3">{{ post.date | date: date_format }}</div>
          <span class="title"><a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a></span>
          <p>
            {{ post.content | truncatewords: 50 }}
          </p>
          <a href="{{ post.url | relative_url }}" class="secondary-content"><i class="material-icons">navigate_next</i></a>
        </li> -->


      {% endfor %}
      <!-- </ul> -->
    </div>

    <div class="col s12 m4 l3">
      <h5 class="category-head"><i class="mdi mdi-book-open-page-variant"></i> Categories</h5>
      {% for category in site.categories %}
      <div class="archive-group">
        {% capture category_name %}{{ category | first }}{% endcapture %}
        <div id="#{{ category_name | slugize }}"></div>
        <h6>{{ category_name }}</h5>
          <a name="{{ category_name | slugize }}"></a>
          {% for post in site.categories[category_name] %}
          <article class="archive-item">
            {% assign date_format = site.minima.date_format | default: "%Y-%m-%d" %}
            <div class="chip"><a href="{{ site.baseurl }}{{ post.url }}">{{ post.date | date: date_format }} -
                {{ post.title | escape }}</a></div>
          </article>
          {% endfor %}
      </div>
      {% endfor %}
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col s12">
      <h5 id="tags"><i class="mdi mdi-tag-text-outline"></i> All Tags</h5>
    </div>

    {% for tag in site.tags %}
    <div class="col s12 m6 l6">
      <h6 id="{{ tag[0] | slugify }}">{{ tag | first }}</h6>

      {% for post in tag[1] %}
      {% assign date_format = site.minima.date_format | default: "%Y-%m-%d" %}
      <div class="chip"><a href="{{ site.baseurl }}{{ post.url }}">{{ post.date | date: date_format }} -
          {{ post.title | escape }}</a></div>
      {% endfor %}
    </div>
    {% endfor %}


  </div>

</div>