---
layout: page
permalink: /about/cv
app: vitae
---

<h1 class="page-title">My Curriculum Vitae</h1>

<div class="row">
  <div class="col s12">
    <ul class="tabs tabs-fixed-width">
      <li class="tab col s3">
        <a class="active" href="#view">
          <i class="mdi mdi-responsive hide-on-med-and-up"></i>
          <i class="mdi mdi-responsive hide-on-small-only left"></i>
          <span class="hide-on-small-only">View</span>
        </a>
      </li>
      <li class="tab col s3">
        <a href="#md">
          <i class="mdi mdi-language-markdown-outline hide-on-med-and-up"></i>
          <i class="mdi mdi-language-markdown-outline hide-on-small-only left"></i>
          <span class="hide-on-small-only">Markdown</span>
        </a>
      </li>
      <li class="tab col s3">
        <a href="#code">
          <i class="mdi mdi-code-json hide-on-med-and-up"></i>
          <i class="mdi mdi-code-json hide-on-small-only left"></i>
          <span class="hide-on-small-only">Code</span>
        </a>
      </li>
    </ul>
  </div>
  <div id="view" class="col s12">
    {% include vitae/vitaeView.html %}
  </div>
  <div id="md" class="col s12">
    {% include vitae/vitaeMarkdown.html %}
  </div>
  <div id="code" class="col s12">
    {% include vitae/vitaeCode.html %}
  </div>
</div>