
<div id="cookie-notice">
    <div class="tap-target" data-target="cookie-btn">
        <div class="tap-target-content">
            <br />
            <h5 class="center">Yam yam!</h5>
            <div class="row center" style="margin-bottom: 0px;">
                <div class="col s12">
                    I want to use <a href="http://www.openwebanalytics.com/" target="_blank">Open Web Analytics</a>
                    with third party cookies and scripts to improve this website.
                    Don`t worry, there is <b>no Google</b> inside! <a href="#gdpr-modal" class="modal-trigger">More
                        info</a>
                </div>
                <div class="col s12 m6 l6">
                    <a id="cookie-notice-accept" class="waves-effect waves-light btn green darken-1">
                        <i class="mdi mdi-check left"></i> Accept
                    </a>
                </div>
                <div class="col s12 m6 l6">
                    <a id="cookie-notice-deny" class="waves-effect waves-light btn-flat grey-text text-lighten-1">
                        <i class="mdi mdi-block-helper left"></i> No thanks
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="fixed-action-btn direction-top active" style="bottom: 45px; right: 24px;">
        <a id="cookie-btn" class="btn btn-floating btn-large light-blue pulse">
            <i class="mdi mdi-cookie"></i>
        </a>
    </div>
</div>