<head profile="http://www.w3.org/2005/10/profile">
    <link rel="shortcut icon" type="image/x-icon" href="{{ "/favicon.ico" | relative_url }}">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

    <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
    <meta name="description"
        content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.7.1/styles/solarized-dark.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" media="screen,projection"
        href="{{ "/assets/lib/materialize/css/materialize.min.css" | relative_url }}" />
    <link rel="stylesheet" href="//cdn.materialdesignicons.com/5.4.55/css/materialdesignicons.min.css">
    <link rel="stylesheet" type="text/css" media="screen,projection" href="{{ "/assets/css/main.css" | relative_url }}">
    <link rel="stylesheet" type="text/css" media="screen,projection"
        href="{{ "/assets/css/theme.css" | relative_url }}">
    <link rel="stylesheet" type="text/css" media="screen,projection"
        href="{{ "/assets/css/syntax.css" | relative_url }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.title | escape }}"
        href="{{ "/feed.xml" | relative_url }}" />

    {% seo %}

    <script src="{{ "/assets/lib/jquery/jquery.min.js" | relative_url }}"></script>
</head>