{% for post in site.posts %}
{% if post.categories == page.categories %}
{% if post.title != page.title %}
{% assign related = true %}
{% endif %}
{% endif %}
{% endfor %}

<div class="row">
    {% if related == true %}
    <div class="col s12 m8 l6">
        <h6>See also</h6>
        <ul>
            {% for post in site.posts %}
            {% if post.categories == page.categories %}
            {% if post.title != page.title %}
            <li>
                {% assign date_format = site.minima.date_format | default: "%Y-%m-%d" %}
                <div class="chip"><a href="{{ site.baseurl }}{{ post.url }}">{{ post.date | date: date_format }} -
                        {{ post.title | escape }}</a></div>
            </li>
            {% endif %}
            {% endif %}
            {% endfor %}
        </ul>
    </div>
    {% endif %}

    <div class="col s12 m4 l6">
        {% assign link = site.url | append: site.baseurl | append: page.url %}
        <h6>Share this</h6>
        <a class="btn blue-grey" href="mailto:?subject={{ site.title }}%20{{ page.title }}&body=Check out this article: {{ link }}.">
            <i class="mdi mdi-email-outline"></i></a>
        <a class="btn blue-grey darken-2" onclick="copyTextToClipboard( '{{ link }}' )">
            <i class="mdi mdi-content-copy"></i></a>
    </div>
</div>