<!--  Scripts-->                                                                               
<script src="{{ "/assets/lib/materialize/js/materialize.min.js" | relative_url }}"></script>
<script src="{{ "/assets/js/lib.js" | relative_url }}"></script>

<script src="https://unpkg.com/mermaid@8.2.1/dist/mermaid.min.js"></script>

<script id="owa-script" type="text/plain" data-cookiescript="accepted" src="https://owa.adrian-singer.de/modules/base/js/owa.tracker-combined-min.js"></script>
<!-- <script src="{{ "/assets/js/owa.js" | relative_url }}"></script> -->
<script src="{{ "/assets/js/init.js" | relative_url }}"></script>

<script src="{{ "/assets/js/cookieHandler.js" | relative_url }}"></script>