/* 
 * START Materialize overrides 
 */
body {
    background-color: #263238;
    color: #eceff1;
}

a, .btn-flat {
    color: #ffc107;
}
i {
    font-size: x-large;
}

nav {
    background-color: #37474f;
}
nav ul a {
    color: #ffc107;
}
.divider {
    background-color: rgba(255,255,255,0.5);
}
.sidenav {
    background-color: #455a64;
    color: white;
}
.sidenav li > a {
    color: white;
}

.btn, .btn-large {
    background-color: #ff8f00;
}

.btn:hover, .btn-large:hover {
    background-color: #ffc107;
}
.btn.disabled, .disabled.btn-large, .disabled.btn-floating {
    background-color:  #424242 !important;
}

table.striped>tbody>tr:nth-child(odd) { 
    background-color: rgba(0,0,0,0.3);
}
table.highlight>tbody>tr:hover {
    background-color: rgba(255,255,255,0.1);
}

blockquote {
    border-left: 3px solid #03a9f4;
    border-radius: 3px;
}

.collection {
    border-color: #03a9f4;
}
.collection .collection-item {
    background-color: rgba(0,0,0,0.3);
    border-bottom: 1px solid #03a9f4;
}
.secondary-content {
    color: #ffc107;
}

.parallax-container {
    height: 680px;
    max-height: 100%;
}
.banner {
    /* -webkit-filter: grayscale(80%) contrast(1.2); /* Safari 6.0 - 9.0 */
    filter: grayscale(60%) opacity(80%);
    animation: 3s ease-in 0s 1 fadeIn;
}
@keyframes fadeIn {
    0% {
        filter: grayscale(100%) opacity(0%);
    }
    100% {
        filter: grayscale(60%) opacity(80%);
    }
  }

.sidenav-overlay {
    z-index: 1;
}

.chip {
    background-color:  rgba(0,0,0,0.3);
    color: #eceff1;
    white-space: nowrap;
}
.page-footer {
    background-color: #131d23;
    margin-top: 20px;
}

figure {
    border: 1px solid #03a9f4;
    padding: 10px;
    background-color: rgba(0,0,0,0.3);
}

pre  {
    margin: 0px;
    padding: 10px;
}

pre > code {
    white-space: inherit;
    border:none;
    background-color: transparent;
    padding: 0px;
    border-radius: 3px;
    line-height: initial !important;
}

code {
    font-family: 'Courier New', 'Courier', 'monospace';
    border: 1px solid #03a9f4;
    padding: 1px 5px 1px 5px;
    border-radius: 3px;
    background-color: rgba(0,0,0,0.3);
    margin-right: 2px;
    white-space: nowrap;
    line-height: initial !important;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid rgba(255,255,255,0.5);
}

.modal {
    border-radius: 0px;
}
.modal-content {
    background-color: #263238;
}
.modal .modal-footer {
    background-color: #37474f;
}

.ul-md, .ul-md > li {
    list-style-type: disc !important;
    margin-left: 10px;
}

span.badge-tag {
    background-color: rgba(100,100,100,0.3);
    color: #03a9f4;
    border-radius: 3px;  
    -webkit-box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3);
    box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3);
}

/* 
 * END Materialize overrides 
 */

.site-logo {
    width: 40px;
    vertical-align: sub;

}
.claim {
    font-family:'Courier New', 'Courier', 'monospace';
    margin: 75px auto 0em auto;
}
.typewriter h1 {
    margin: 75px auto 0em auto;
    width: 16em;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .1em solid #ff8f00; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    letter-spacing: .1em; /* Adjust as needed */
    animation: 
      typing 3s steps(33, end),
      blink-caret .75s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0% }
    to { width: 16em; }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
  }

  .footer-copyright a {
      color: #ffcc80;
  }

.attention {
    color: #ff7043;
}
/* meramid overrides */

svg {
    font-family: Verdana, Geneva, Tahoma, sans-serif !important; /* 'Courier New', 'Courier', 'monospace'; */
}
div > .label {
    font-family: inherit !important;

}
marker > path {
    fill: #03a9f4 !important;
}
rect {
    stroke: #03a9f4 !important;
    fill: rgba(0,0,0,0.3) !important;
}

g.label {
    color: #eceff1 !important;
}

g > path {
    stroke: #03a9f4 !important;
}

/* meramid overrides - END */