<td>
    <i style="font-size: inherit;" class="mdi mdi-arrow-expand-right left"></i><span
        v-text="castDuration(c.start)"></span><br />
    <i style="font-size: inherit;" class="mdi mdi-arrow-collapse-right left"></i><span
        v-text="castDuration(c.end)"></span>
</td>
<td>
    <div class="company" v-text="c.name"></div>
    <div v-if="c.department" v-text="c.department"></div>
    <ul class="activities">
        <li v-for="a in c.activities"><span v-text="a"></span></li>
    </ul>
</td>