
<a id="download-markdown" class="download-markdown btn-flat hide-on-small-only"><i class="mdi mdi-download left"></i>download</a>
<a id="download-markdown" class="download-markdown btn-flat hide-on-med-and-up"><i class="mdi mdi-download"></i></a>

<a class="copy-markdown btn-flat hide-on-small-only"><i class="mdi mdi-content-copy left"></i>copy</a>
<a class="copy-markdown btn-flat hide-on-med-and-up"><i class="mdi mdi-content-copy"></i></a>

<pre>
<code id="vitae-markdown" class="markdown">
</code>
</pre>