---
layout: default
---
<div class="parallax-container">
  <div class="typewriter claim hide-on-med-and-down">
    <h1 class="center">{{ site.claim }}</h1>
  </div>
  <div class="typewriter claim hide-on-small-only hide-on-large-only">
    <h1 class="center" style="font-size: 2.5em">{{ site.claim }}</h1>
  </div>
  <div class="typewriter claim hide-on-med-and-up">
    <h1 class="center" style="font-size: 1.5em">{{ site.claim }}</h1>
  </div>
  <br /><br />
  <div class="lazy center">
    <div class="row">
      <div class="col s12">
        <a href="#get-startet" class="btn-large waves-effect waves-light">
          <i class="mdi mdi-send left"></i>Get Started</a>
      </div>
    </div>
    <div class="row">
      <div class="col s12 m4 l2 offset-l3">
        <a target="_blank" href="https://github.com/sin-net/Sin.Net" class="btn waves-effect waves-light">
          <i class="mdi mdi-github-circle left"></i>GitHub</a>
      </div>
      <div class="col s12 m4 l2">
        <a target="_blank" href="https://sin-net.github.io/Sin.Net/" class="btn waves-effect waves-light truncate">
          <i class="mdi mdi-library-books left"></i> Documentation</a>
      </div>
      <div class="col s12 m4 l2">
        <a target="_blank" href="https://github.com/sin-net/Sin.Net/archive/master.zip" class="btn waves-effect waves-light">
          <i class="mdi mdi-download left"></i>Download .zip</a>
      </div>
    </div>
  </div>
  <div class="parallax banner"><img id="chemnitz-banner" src=""></div>
</div>


<div class="section  no-pad-bot" id="index-banner">
  <div class="container">
    <h5 class="header center light">{{ content }}</h5>
  </div>
</div>

<div class="container">
  <div class="section scrollspy" id="get-startet">
    <!--   Icon Section   -->
    <div class="row">
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center light-blue-text"><i class="mdi mdi-console medium"></i></h2>
          <h5 class="center">Coding</h5>
          <p class="light">I work as a full time developer and project manager in Chemnitz, Germany. I code
            professionally since 2008 in different R&D fields mostly with Microsoft and web technologies.
            You can find some of my open source projects on <a target="_blank" href="https://github.com/adriansinger87">GitHub</a>.<br />
            My project <a href="{{ "/project/" | relative_url }}">Sin.Net</a> is an open source collection of
            reusable NuGet packages and namesake for this page.</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center light-blue-text"><i class="mdi mdi-message-text-outline medium"></i></h2>
          <h5 class="center">Blogging</h5>
          <p class="light">I don't tend to write neither much (nor regular) about myself or the things I do in private.
            But I hope
            to write at least one post per month.<br />
            So, I want to share some coding ideals that I think are important and worth to be written down.
            And I want to promote my open source projects, of course.
            <i class="mdi mdi-emoticon-outline" style="font-size: inherit"></i></p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center light-blue-text"><i class="mdi mdi-sprout medium"></i></h2>
          <h5 class="center">Living</h5>
          <p class="light">As you might see or read, I live in Chemnitz. Unfortunately, a really underrated city!
            At someday, I hopefully find enough time to share my experiences and snippets of my
            life.
            I can tell that Chemnitz is really lovely and a great place to live, to work and to see my children growing
            up.<br />
            <a target="_blank" href="https://twitter.com/hashtag/wirbleibenmehr">#WirBleibenMehr</a></p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container last-post">
  <section>
    <h5>Latest Posts</h5>
    <ul class="collection">
      {% for post in site.posts limit:3 %}
      <li class="collection-item avatar">
        {% assign date_format = site.minima.date_format | default: "%m/%d" %}
        <div class="date-post circle z-depth-3">{{ post.date | date: date_format }}</div>
        <span class="title"><a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a></span>
        <p>
          {{ post.content | truncatewords: 30 }}
        </p>
        <a href="{{ post.url | relative_url }}" class="secondary-content"><i class="material-icons">navigate_next</i></a>
      </li>
      {% endfor %}
    </ul>
  </section>
</div>