---
layout: default
---

<div class="parallax-container parallax-post">
  <div class="parallax">
    <img src="{{ page.image | relative_url }}"></div>
</div>


<div class="container">
  <div class="section">
    <article class="post" itemscope itemtype="http://schema.org/BlogPosting">

      <header class="post-header">
        <h1 class="post-title" itemprop="name headline">{{ page.title | escape }}</h1>
        {% assign tags = page.tags %}
        <p class="post-meta">
          <ul>
            {% for tag in tags %}
            <li><a href="{{ site.baseurl }}/tags#{{tag | downcase | replace:" ","-" }}"><span class="badge badge-tag">{{ tag }}</span></a></li>
            {% endfor %}
          </ul>
          <div class="thin">
            <span datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
              {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
              {{ page.date | date: date_format }}
            </span>
            {% if page.author %}
            • <span itemprop="author" itemscope itemtype="http://schema.org/Person">
              <span itemprop="name">{{ page.author }}</span></span>
            {% endif %}
          </div>
        </p>
      </header>

      <div class="post-content" itemprop="articleBody">

        {{ content }}

        <hr>

        <div class="row">
          <div class="col s12 thin">
            Writing this post was powered with music from
            <a target="_blank" href="{{ page.music-href }}">{{ page.music-text }}</a>.
            <br />
            Have a nice day!
          </div>
        </div>

        {% include post_related.html %}

        {% include comment.html %}

      </div>
    </article>
  </div>
</div>